<div class="absolute size-full bg-white dark:bg-gray-800">
  <div
    class="p-10 flex items-center bg-gray-300 dark:bg-gray-900 rounded-b-full"
  >
    <div class="grow font-bold">
      @if(icon) {
      <fa-icon [icon]="icon" />
      } @if(parent) {
      <span>
        <a [routerLink]="'/chapter/' + parent.url">{{ parent.label }}</a> -
      </span>
      }
      {{ title }}
    </div>
    <button class="text-xl cursor-pointer" (click)="closeOptions()">
      <fa-icon [icon]="faClose" />
    </button>
  </div>
  <div class="p-10">
    <ng-content />
  </div>
</div>
