<div class="flex flex-col h-dvh">
  <div
    class="px-3 flex items-center bg-gray-200 dark:bg-gray-800 border-b-1 border-gray-200 dark:border-gray-700"
  >
    <a
      routerLink="/chapters"
      class="px-5 py-3 text-xl hover:bg-gray-300 rounded-b-full dark:hover:bg-gray-700"
    >
      <fa-icon [icon]="faBars" />
    </a>
    <div class="grow text-xl font-bold">{{ title }}</div>
    <app-theme-button></app-theme-button>
    <a
      class="px-5 py-3 text-xl hover:bg-gray-300 rounded-b-full dark:hover:bg-gray-700"
      routerLink="/options"
    >
      <fa-icon [icon]="faCog" />
    </a>
  </div>

  <div class="px-3 grow text-justify text-xl min-h-0 dark:bg-gray-800">
    <app-text-panel
      #textPanel
      [content]="content"
      [(scrollTop)]="scrollTop"
      (updateProgress)="updateProgress($event)"
      (saveProgress)="saveProgress($event)"
    />
  </div>

  <div
    class="px-3 flex items-center bg-gray-200 dark:bg-gray-800 border-t-1 border-gray-200 dark:border-gray-700"
  >
    <div>
      <a
        class="px-5 py-3 text-xl hover:bg-gray-300 rounded-t-full dark:hover:bg-gray-700"
        routerLink="/glossary"
      >
        <fa-icon [icon]="faBook" />
      </a>
    </div>
    <div class="grow text-center">{{ position }}%</div>
    <div>
      @if (late()) {
      <button
        (click)="goToMaxProgress()"
        class="px-5 py-3 text-xl hover:bg-gray-300 rounded-t-full dark:hover:bg-gray-700 cursor-pointer"
      >
        <fa-icon [icon]="faBullseye" />
      </button>
      }
      <button
        (click)="forward()"
        class="px-5 py-3 text-xl hover:bg-gray-300 rounded-t-full dark:hover:bg-gray-700 cursor-pointer"
      >
        <fa-icon [icon]="getForwardIcon()" />
      </button>
    </div>
  </div>
</div>
