.chapters {
  text-align: left;
}

.chapter {
  display: inline-block;
  margin: 5px;
  width: 200px;
  height: 150px;
  position: relative;
  border: none;
  box-shadow: #999 2px 2px 2px;
}

.chapter .legend {
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  background-color: #000;
  opacity: 0.7;
  padding: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  text-decoration: none;
  height: 18px;
}

.chapter .legend .details {
  opacity: 0;
  height: 0;
  font-size: 12px;
  color: #bbb;
}

.chapter:hover .legend .details {
  opacity: 1;
  height: auto;
  -webkit-transition: opacity 0.4s ease;
}

.chapter:hover .legend {
  height: 36px;
  -webkit-transition: height 0.2s ease;
}

.chapter .screen {
  position: absolute;
  left: 0;
  -webkit-filter: sepia(60%);
  -moz-filter: sepia(60%);
  -o-filter: sepia(60%);
  -ms-filter: sepia(60%);
  filter: sepia(60%);
}

.chapter:hover .screen {
  -webkit-filter: sepia(0%);
  -moz-filter: sepia(0%);
  -o-filter: sepia(0%);
  -ms-filter: sepia(0%);
  filter: sepia(0%);
}

h2 a,
h2 a:visited {
  color: #999;
  font-size: 12px;
  text-decoration: none;
}

h2 a:hover {
  color: #444;
}

/* RIBBON */
.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

/* RIBBON SPECIAL */
.special span {
  background: linear-gradient(#f6005e 0%, #ba0047 100%);
}
.special span::before {
  border-left: 3px solid #ba0047;
  border-top: 3px solid #ba0047;
}
.special span::after {
  border-right: 3px solid #ba0047;
  border-top: 3px solid #ba0047;
}

/* RIBBON FEATURED */
.featured span {
  background: linear-gradient(#008da1 0%, #006b7a 100%);
}
.featured span::before {
  border-left: 3px solid #006b7a;
  border-top: 3px solid #006b7a;
}
.featured span::after {
  border-right: 3px solid #006b7a;
  border-top: 3px solid #006b7a;
}

.featured2 {
  color: #fff;
  background-color: #3d73a9;
}
