<app-reader-layout [icon]="faBook" title="Glossaire">
  <app-progress [displaySavePosition]="true"></app-progress>

  <p class="font-bold">Personnages</p>
  @for (character of characters; track $index) {
  <a
    class="bg-gray-200 p-1 rounded-e-full m-1 cursor hover:bg-gray-300 block dark:bg-gray-700 dark:hover:bg-gray-600"
    [routerLink]="'/glossary/' + character"
    >{{ character }}</a
  >
  }

  <p class="font-bold">Lieux</p>
  @for (location of locations; track $index) {
  <a
    class="bg-gray-200 p-1 rounded-e-full m-1 cursor hover:bg-gray-300 block dark:bg-gray-700 dark:hover:bg-gray-600"
    [routerLink]="'/glossary/' + location"
    >{{ location }}</a
  >
  }
</app-reader-layout>
